<div class="user-info">
    <div class="user-info__content">
        <ul>
            <li>
                <a href="#">Текущие заявки</a>
            </li>

            <li>
                <a href="#">История бронирования</a>
            </li>

            <li>
                <a href="#">Персональные предложения</a>
            </li>

            <li>
                <a href="#" class="active">Профиль</a>
            </li>
        </ul>

        <button type="button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 4V20H4L4 4L15 4Z" stroke="#BF8D55" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.5 12H21.5" stroke="#BF8D55" stroke-width="2" stroke-linecap="round"/>
                <path d="M18.5 15L21.5 12L18.5 9" stroke="#BF8D55" stroke-width="2" stroke-linecap="round"/>
            </svg>
                Выйти
        </button>
    </div>
        
</div>