<div class="fleet-hero container">
    <h3 variant="h3">Флот</h3>
    <div class="tabs-wrapper">
        <div class="tabs">
            <button class="tab active">Катера</button>
            <button class="tab">Яхты</button>
        </div>
    </div>
    <div class="fleet-filters-wrapper">
        <div class="fleet-filters">
            <div class="filters-tabs" style="display: none">
                <button class="tab button">Катера</button>
                <button class="tab button">Яхты</button>
            </div>
            <div class="filters-inputs">
                <div class="input-wrapper">
                    <p>Цена за час</p>
                    <div class="inputs">
                        <input type="text" placeholder="от 10 000" class="input">
                        <input type="text" placeholder="до 45 000" class="input">
                    </div>
                </div>
                <div class="input-wrapper">
                    <p>Вместимость</p>
                    <div class="inputs">
                        <input type="text"  placeholder="от 4" class="input">
                        <input type="text" placeholder="от 15" class="input">
                    </div>
                </div>
                <!-- <div class="input-wrapper">
                    <p>Дата</p>
                    <div class="inputs">
                        <VueDatePicker
                            :format="format"
                            placeholder="03.04.24"
                            v-model="formValues.dateValue"
                            auto-apply
                            :time-picker="false"
                            :class="formErrors.dateError ? 'error' : ''"
                        >
                            <template #input-icon> </template>
                        </VueDatePicker>
                    </div>
                </div> -->
            </div>
            <div class="filters-sort selector">
                <button class="selector-btn">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.01904 7.5H19.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path><path d="M5.01904 12.5H15.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path><path d="M5.01904 17.5H11.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path></svg>
                    <p>Стоимость</p> 
                    <img src="@img/arrow-sort.svg" alt="" />
                </button>

                <div class="selector-content">
                  <div class="selector-list">
                    <label>
                      <input type="checkbox">
                      <span>Стоимость</span>
                    </label>

                    <label>
                      <input type="checkbox">
                      <span>Рейтинг</span>
                    </label>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filters">
        <button type="button" class="filters-btn">
          <p >
            <svg  width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.01904 7.5H19.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
              <path d="M5.01904 12.5H15.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
              <path d="M5.01904 17.5H11.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
            </svg>Фильтры
          </p>
          <img  src="@img/arrow-sort.svg" alt="">
        </button>
        <div  class="filters-content">
          <div   class="fleet-filters">
            <!-- <div  class="filters-tabs">
              <button data-v-546f7a90=""  class="tab active button">Прогулочный катер-лимузин</button>
              <button data-v-546f7a90=""  class="tab button">Спортивно-прогулочный катер</button>
              <button data-v-546f7a90=""  class="tab button">Спортивно-прогулочный катер</button>
              <button data-v-546f7a90=""  class="tab button">Спортивно-прогулочный катер</button>
            </div> -->
            <div  class="filters-inputs">
              <div  class="input-wrapper">
                <p >Цена за час</p>
                <div  class="inputs">
                  <input data-v-c5ffbc93=""  class="input" type="text" placeholder="от 10 000">
                  <input data-v-c5ffbc93=""  class="input" type="text" placeholder="до 45 000">
                </div>
              </div>
              <div  class="input-wrapper">
                <p >Вместимость</p>
                <div  class="inputs">
                  <input data-v-c5ffbc93=""  class="input" type="text" placeholder="от 4">
                  <input data-v-c5ffbc93=""  class="input" type="text" placeholder="от 15">
                </div>
              </div>
              <!-- <div  class="input-wrapper">
                <p >Дата</p>
                <div  class="inputs">
                  <div  class="dp__main dp__theme_light" data-datepicker-instance="">
                    <div>
                
                      <div class="dp__input_wrap">
                
                        <input data-test="dp-input" class="dp__pointer dp__input_readonly dp__input dp__input_icon_pad dp__input_reg" inputmode="none" placeholder="03.04.24" autocomplete="off" aria-label="Datepicker input">
                        <div>
                          <span class="dp__input_icon"></span>
                      
                        </div>
                      
                  
                      </div>
                    </div>
                    <div>
               
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div  class="filters-sort selector">
              <button  class="selector-btn">
                <svg  width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.01904 7.5H19.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M5.01904 12.5H15.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M5.01904 17.5H11.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
                </svg>
                
                <p>Стоимость</p>  
                
                <img  src="/images/arrow-sort.svg" alt="">
              </button>

              <div class="selector-content">
                <div class="selector-list">
                  <label>
                    <input type="checkbox">
                    <span>Стоимость</span>
                  </label>

                  <label>
                    <input type="checkbox">
                    <span>Рейтинг</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</div>