<div class="orders profile">
    <div class="profile__main">
        <img src="img/profile.jpg" alt="">
        <button type="button" class="outline">
            Изменить фото профиля
        </button>

        <button type="button" class="outline">
            Изменить код-пароль
        </button>
    </div>

    <div class="profile__info">
        <div class="profile__row">
            <label>
                <span>ФИО</span>
                <input type="text" value="Константинопольский">
            </label>

            <label>
                <span>Дата рождения</span>
                <input type="text" class="input__valid-date" value="12.05.1987">
            </label>
        </div>

        <div class="profile__row">
            <label>
                <span>Телефон</span>
                <input type="text" class="input__valid-phone">
            </label>

            <label>
                <span>E-mail</span>
                <input type="text" class="">
            </label>
        </div>

        <button class="primary" type="button">
            Сохранить изменения
        </button>
    </div>
</div>