<div class="event-description container">
    <h3>Описание</h3>
    <div class="description-inner">
        <div class="description-item">
            <div class="image-wrapper">
                <img src="img/descr1.svg" alt="icon" />
            </div>
            <p>
                Представьте себя среди водной глади, где вас и ваших близких окружают только бесконечное
                небо и широкие просторы. Расслабьтесь и наслаждайтесь шумом волн, свежим воздухом и
                бесподобными видами, делая ваш праздник по-настоящему особенным.
            </p>
        </div>
        <div class="description-item">
            <div class="image-wrapper">
                <img src="img/descr2.svg" alt="icon" />
            </div>
            <p>
                Представьте себя среди водной глади, где вас и ваших близких окружают только бесконечное
                небо и широкие просторы. Расслабьтесь и наслаждайтесь шумом волн, свежим воздухом и
                бесподобными видами, делая ваш праздник по-настоящему особенным.
            </p>
        </div>
        <div class="description-item">
            <div class="image-wrapper">
                <img src="img/descr3.svg" alt="icon" />
            </div>
            <p>
                Представьте себя среди водной глади, где вас и ваших близких окружают только бесконечное
                небо и широкие просторы. Расслабьтесь и наслаждайтесь шумом волн, свежим воздухом и
                бесподобными видами, делая ваш праздник по-настоящему особенным.
            </p>
        </div>
    </div>
</div>