<div class="events tabs-wrapper">
  <div class="title-wrapper container">
    <h3>Ваша морская прогулка <br />будет незабываемой</h3>
  </div>
  <div class="tabs-wrapper container" v-if="tabs">
    <div class="tabs">
      <button class="tab active" data-tab="1">Частные</button>
      <button class="tab" data-tab="2">Корпоративные</button>
    </div>
  </div>
  <div class="events-swiper-wrapper">
    <div class="events-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji1-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji1-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji2-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji2-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji3-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji3-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji1-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji1-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji2-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji2-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji3-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji3-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji1-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji1-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji2-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji2-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
        <div class="swiper-slide tab-content" data-tab-content="1 2">
          <div class="event-card-wrapper">
            <div class="event-card-swiper-wrapper">
              <div class="emoji-wrapper">
                <div class="emoji1">
                  <img src="@img/events/emoji3-1.png" alt="" />
                </div>
                <div class="emoji2">
                  <img src="@img/events/emoji3-2.png" alt="" />
                </div>
              </div>
              <div class="event-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/3.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#" class="image-wrapper">
                      <img src="@img/events/2.jpg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="pagination-wrapper">
                  <div class="pagination-inner">
                    <div
                      ref="pagination"
                      class="pagination pagination-line event-pagination"
                    ></div>
                  </div>
                </div>
                <div class="navigation">
                  <div class="btns-wrapper">
                    <button class="event-prev">
                      <img src="@img/arrow-v1-left.svg" alt="arrow" />
                    </button>
                    <button class="event-next">
                      <img src="@img/arrow-v1-right.svg" alt="arrow" />
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="content">
              <h4>День рождения</h4>
              <p>
                Отметьте свой праздник на борту роскошной яхты с кейтерингом
                высшего класса и персональным обслуживанием
              </p>
              <button class="outline">Подробнее</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="events-navigation navigation">
      <button class="events-prev">
        <img src="@img/arrow-v2-left.svg" alt="arrow" />
      </button>
      <button class="events-next">
        <img src="@img/arrow-v2-right.svg" alt="arrow" />
      </button>
    </div>
    <div class="pagination swiper-pagination events-pagination"></div>
  </div>
</div>
