<div class="home-routes">
  <div class="routes-inner container">
    <h3>Маршруты</h3>
    <div class="home-routes-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="route-about-card">
            <div class="left">
              <div class="image-wrapper">
                <img src="@img/routes/route-about.jpg" alt="" />
              </div>
            </div>
            <div class="right">
              <div class="text">
                <h4 variant="h4">Маршрут 1</h4>
                <p>
                  Маршрут начинается у Патриаршего моста и ведет мимо Кремля,
                  Парка Горького, до Москва-Сити и обратно. Во время круиза
                  гости могут наслаждаться комфортом на борту и красивыми видами
                  городской архитектуры.
                </p>
                <button class="outline"><a href="#">Подробнее</a></button>
              </div>
              <div class="image-wrapper">
                <img src="@img/routes/route-about.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="route-about-card">
            <div class="left">
              <div class="image-wrapper">
                <img src="@img/routes/route-about.jpg" alt="" />
              </div>
            </div>
            <div class="right">
              <div class="text">
                <Title variant="h4">Маршрут 2</Title>
                <p>
                  Маршрут начинается у Патриаршего моста и ведет мимо Кремля,
                  Парка Горького, до Москва-Сити и обратно. Во время круиза
                  гости могут наслаждаться комфортом на борту и красивыми видами
                  городской архитектуры.
                </p>
                <button class="outline"><a href="#">Подробнее</a></button>
              </div>
              <div class="image-wrapper">
                <img src="@img/routes/route-about2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="route-about-card">
            <div class="left">
              <div class="image-wrapper">
                <img src="@img/routes/route-about.jpg" alt="" />
              </div>
            </div>
            <div class="right">
              <div class="text">
                <Title variant="h4">Маршрут 3</Title>
                <p>
                  Маршрут начинается у Патриаршего моста и ведет мимо Кремля,
                  Парка Горького, до Москва-Сити и обратно. Во время круиза
                  гости могут наслаждаться комфортом на борту и красивыми видами
                  городской архитектуры.
                </p>
                <button class="outline"><a href="#">Подробнее</a></button>
              </div>
              <div class="image-wrapper">
                <img src="@img/routes/route-about3.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="route-about-card">
            <div class="left">
              <div class="image-wrapper">
                <img src="@img/routes/route-about.jpg" alt="" />
              </div>
            </div>
            <div class="right">
              <div class="text">
                <Title variant="h4">Маршрут 4</Title>
                <p>
                  Маршрут начинается у Патриаршего моста и ведет мимо Кремля,
                  Парка Горького, до Москва-Сити и обратно. Во время круиза
                  гости могут наслаждаться комфортом на борту и красивыми видами
                  городской архитектуры.
                </p>
                <button class="outline"><a href="#">Подробнее</a></button>
              </div>
              <div class="image-wrapper">
                <img src="@img/routes/route-about4.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="route-about-card">
            <div class="left">
              <div class="image-wrapper">
                <img src="@img/routes/route-about.jpg" alt="" />
              </div>
            </div>
            <div class="right">
              <div class="text">
                <Title variant="h4">Маршрут 5</Title>
                <p>
                  Маршрут начинается у Патриаршего моста и ведет мимо Кремля,
                  Парка Горького, до Москва-Сити и обратно. Во время круиза
                  гости могут наслаждаться комфортом на борту и красивыми видами
                  городской архитектуры.
                </p>
                <button class="outline"><a href="#">Подробнее</a></button>
              </div>
              <div class="image-wrapper">
                <img src="@img/routes/route-about5.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border">
    <img src="@img/route-border.svg" alt="" />
  </div>
  <div class="navigaion-wrapper">
    <button class="home-routes-prev">
      <img src="@img/arrow-v3-left.svg" alt="" />
    </button>
    <div class="pagination home-routes-pagination pagination-number"></div>
    <button class="home-routes-next">
      <img src="@img/arrow-v3-right.svg" alt="" />
    </button>
  </div>
  <div class="pagination-wrapper"></div>
</div>
