<div class="gallery">
  <h3>Фотогалерея</h3>
  <div class="gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a
          href="@img/gallery/1.jpg"
          class="image-wrapper cell--1"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/1.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/2.jpg"
          class="image-wrapper cell--2"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/2.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/3.jpg"
          class="image-wrapper cell--3"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/3.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/4.jpg"
          class="image-wrapper cell--4"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/4.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/5.jpg"
          class="image-wrapper cell--5"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/5.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/6.jpg"
          class="image-wrapper cell--6"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/6.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/7.jpg"
          class="image-wrapper cell--7"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/7.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/8.jpg"
          class="image-wrapper cell--8"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/8.jpg" alt="" />
        </a>
      </div>
      <div class="swiper-slide">
        <a
          href="@img/gallery/9.jpg"
          class="image-wrapper cell--9"
          data-fancybox="gallery"
        >
          <img src="@img/gallery/9.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>

  <div class="gallery-list container">
    <a
      href="@img/gallery/1.jpg"
      class="image-wrapper cell--1"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/1.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/2.jpg"
      class="image-wrapper cell--2"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/2.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/3.jpg"
      class="image-wrapper cell--3"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/3.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/4.jpg"
      class="image-wrapper cell--4"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/4.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/5.jpg"
      class="image-wrapper cell--5"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/5.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/6.jpg"
      class="image-wrapper cell--6"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/6.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/7.jpg"
      class="image-wrapper cell--7"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/7.jpg" alt="" />
    </a>
    <a
      href="@img/gallery/8.jpg"
      class="image-wrapper cell--8"
      data-fancybox="gallery"
    >
      <img src="@img/gallery/8.jpg" alt="" />
    </a>
  </div>
  <div ref="pagination" class="swiper-pagination gallery-pagination"></div>
</div>
