<div class="home-hero">
  <div class="hero-text container">
    <h1>Аренда яхт и катеров</h1>
    <p>для незабываемых мероприятий на воде</p>
  </div>
  <div class="hero-form">
    <div class="hero-form-wrapper container">
      <form class="order-form">
        <label>
          <p>Тип мероприятия</p>
          <div class="selector">
            <button type="button" class="selector-btn">
              <p>Выберите</p>
              <span
                ><svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.5 1.75L6 6.25L10.5 1.75"
                    stroke="#111111"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
            <div class="selector-content">
              <div class="selector-list">
                <label>
                  <input type="checkbox" />
                  <span>значение1</span>
                </label>
                <label>
                  <input type="checkbox" />
                  <span>значение2</span>
                </label>
                <label>
                  <input type="checkbox" />
                  <span>значение3</span>
                </label>
                <label>
                  <input type="checkbox" />
                  <span>значение4</span>
                </label>
              </div>
            </div>
          </div>
        </label>
        <label>
          <p>Кол. человек</p>
          <input class="input" type="text" placeholder="Кол-во чел." />
        </label>
        <label>
          <p>Бюджет до (₽)</p>
          <input class="input" type="text" placeholder="Бюджет" />
        </label>
        <label>
          <p>Дата</p>
          <input type="text" class="input date-input" placeholder="Дата" />
        </label>

        <button class="primary">Подробнее</button>
      </form>
    </div>
  </div>
</div>
