<div class="service">
  <div class="service-text containert">
    <h3>Сервис</h3>
    <p>Вы можете заказать дополнительные услуги</p>
  </div>
  <div class="service-list-wrapper">
    <div class="service-list">
      <div class="top-line">
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/1.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Басейн</span>
            <p>Вкусная еда и напитки</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/2.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Видеограф</span>
            <p>Снимет вам крутой фильм</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/3.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Караоке</span>
            <p>Пойте вместе любимые песни</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/4.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Украшение</span>
            <p>Украсим лодку или яхту для вас</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/1.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Басейн</span>
            <p>Вкусная еда и напитки</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/2.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Видеограф</span>
            <p>Снимет вам крутой фильм</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/3.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Караоке</span>
            <p>Пойте вместе любимые песни</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/4.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Украшение</span>
            <p>Украсим лодку или яхту для вас</p>
          </div>
        </div>
      </div>
      <div class="center-line">
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/5.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Кейтеринг</span>
            <p>Вкусная еда и напитки</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/6.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Диджей</span>
            <p>Лучшие сеты и музыка</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/7.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Кальян</span>
            <p>Ароматный кальян</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/8.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Дельфины</span>
            <p>Подарят вам заряд позитива</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/5.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Кейтеринг</span>
            <p>Вкусная еда и напитки</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/6.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Диджей</span>
            <p>Лучшие сеты и музыка</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/7.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Кальян</span>
            <p>Ароматный кальян</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/8.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Дельфины</span>
            <p>Подарят вам заряд позитива</p>
          </div>
        </div>
      </div>
      <div class="bottom-line">
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/9.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Рыбалка</span>
            <p>Водитель доставит вас до яхты</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/10.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Трансфер</span>
            <p>Водитель доставит вас до яхты</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/11.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Музыканты</span>
            <p>Споют для вас популярные песни</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/11.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Сопровождение</span>
            <p>Споют для вас популярные песни</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/9.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Рыбалка</span>
            <p>Водитель доставит вас до яхты</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/10.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Трансфер</span>
            <p>Водитель доставит вас до яхты</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/11.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Музыканты</span>
            <p>Споют для вас популярные песни</p>
          </div>
        </div>
        <div class="service-item">
          <div class="image-wrapper">
            <img src="@img/services/11.jpg" alt="service" />
          </div>
          <div class="service-content">
            <span>Сопровождение</span>
            <p>Споют для вас популярные песни</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-swiper-wrapper">
    <div class="services-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/1.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Басейн</span>
              <p>Вкусная еда и напитки</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/2.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Видеограф</span>
              <p>Снимет вам крутой фильм</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/3.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Караоке</span>
              <p>Пойте вместе любимые песни</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/4.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Украшение</span>
              <p>Украсим лодку или яхту для вас</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/5.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Кейтеринг</span>
              <p>Вкусная еда и напитки</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/6.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Диджей</span>
              <p>Лучшие сеты и музыка</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/7.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Кальян</span>
              <p>Ароматный кальян</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/8.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Дельфины</span>
              <p>Подарят вам заряд позитива</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/9.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Рыбалка</span>
              <p>Водитель доставит вас до яхты</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/10.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Трансфер</span>
              <p>Водитель доставит вас до яхты</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/11.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Музыканты</span>
              <p>Споют для вас популярные песни</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service-item">
            <div class="image-wrapper">
              <img src="@img/services/11.jpg" alt="service" />
            </div>
            <div class="service-content">
              <span>Сопровождение</span>
              <p>Споют для вас популярные песни</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination blue services-pagination"></div>
  </div>
  <div class="service-border">
    <img src="@img/service-border.svg" alt="" />
  </div>
</div>
