<div class="orders">
    <div class="orders__item">
        <div class="orders__item__inner">
            <div class="orders__item__general">
                <img src="img/boats/3.jpg" alt="">
                <div>
                    <h2>Заявка №3458</h2>
                    <p class="orders__item__date">
                        28.06.24 (11:00-13:00)
                    </p>
                    <p>
                        Veneto — Прогулочный катер-лимузин
                    </p>
                    <p>
                        6 человек
                    </p>
                    <p>
                        Кейтеринг, Диджей
                    </p>
                </div>
            </div>
    
            <div class="orders__item__price">
                38 000 ₽
            </div>
        </div>
    </div>

    <div class="orders__item">
        <div class="orders__item__inner">
            <div class="orders__item__general">
                <img src="img/boats/3.jpg" alt="">
                <div>
                    <h2>Заявка №3458</h2>
                    <p class="orders__item__date">
                        28.06.24 (11:00-13:00)
                    </p>
                    <p>
                        Veneto — Прогулочный катер-лимузин
                    </p>
                    <p>
                        6 человек
                    </p>
                    <p>
                        Кейтеринг, Диджей
                    </p>
                </div>
            </div>
    
            <div class="orders__item__price">
                38 000 ₽
            </div>
        </div>
    </div>
</div>