@import "../../common/files/variables.scss";

.header {
  height: 88px;
  position: relative;
  overflow: hidden;
  position: sticky;
  background: var(--white-color);
  z-index: 150;
  left: 0;
  right: 0;
  top: 0;
  @media (max-width: $tab) {
    height: 60px;
  }
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      width: 165px;
      height: 36px;
      margin-bottom: 15px;
      @media (max-width: $tab) {
        width: 135px;
        height: 30px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    a {
      color: var(--blue-color);
    }
    nav {
      display: flex;
      align-items: center;
      gap: 25px;
      flex: 1;
      margin-left: 50px;
      margin-bottom: 15px;
      @media (max-width: $desktop-md-2) {
        display: none;
      }
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
      }
    }
    .info {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 15px;
      .phone-mob {
        display: none;
        @media (max-width: $desktop-md-2) {
          display: block;
        }
      }
      .features,
      .socials {
        display: flex;
        align-items: center;
        gap: 15px;
        @media (max-width: $desktop-md-2) {
          display: none;
        }
        a {
          height: 24px;
          width: 24px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      .tel {
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        @media (max-width: $desktop-md-2) {
          display: none;
        }
      }
      button {
        height: 39px;
        @media (max-width: $desktop-md-2) {
          display: none;
        }
      }
      .left {
      }
      .right {
        display: flex;
        align-items: center;
        gap: 13px;
      }
      .burger {
        display: none;
        @media (max-width: $desktop-md-2) {
          display: block;
        }
      }
    }
  }
  .header-border {
    position: absolute;
    bottom: 0;
    width: 100vw;
    img {
      width: 100%;
      height: 11px;
      object-fit: cover;
      @media (max-width: $tab) {
        height: 6px;
      }
    }
  }
}
