<div class="faq container">
  <h3>Вопросы и ответы</h3>
  <div class="faq-content">
    <div class="faq-list accordion">
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Вопрос</p>
          <div class="icon-wrapper"><div class="icon"></div></div>
        </button>
        <div class="collapse accordion-body">
          <p>Ответ на вопрос</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Вопрос</p>
          <div class="icon-wrapper"><div class="icon"></div></div>
        </button>
        <div class="collapse accordion-body">
          <p>Ответ на вопрос</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Вопрос</p>
          <div class="icon-wrapper"><div class="icon"></div></div>
        </button>
        <div class="collapse accordion-body">
          <p>Ответ на вопрос</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Вопрос</p>
          <div class="icon-wrapper"><div class="icon"></div></div>
        </button>
        <div class="collapse accordion-body">
          <p>Ответ на вопрос</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-title">
          <p>Вопрос</p>
          <div class="icon-wrapper"><div class="icon"></div></div>
        </button>
        <div class="collapse accordion-body">
          <p>Ответ на вопрос</p>
        </div>
      </div>
    </div>
  </div>
</div>
