<div class="fleet-inner-hero container">
    <div class="fleet-inner-hero-swiper-wrapper">
		<div class="swiper fleet-inner-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a 
                  class="image-wrapper" 
                  href="@img/boats/1.jpg"
                  data-fancybox="fleet_inner"
                >
                  <img src="@img/boats/1.jpg" alt="boat">
                </a>
                <!---->
              </div>
              <div class="swiper-slide">
                <a 
                  class="image-wrapper" 
                  href="@img/boats/2.jpg"
                  data-fancybox="fleet_inner"
                >
                  <img src="img/boats/2.jpg" alt="boat">
                </a>
                <!---->
              </div>
              <div class="swiper-slide">
                <a 
                  class="image-wrapper" 
                  href="@img/boats/3.jpg"
                  data-fancybox="fleet_inner"
                >
                  <img  src="img/boats/3.jpg" alt="boat">
                </a>
                <!---->
              </div>
              <div class="swiper-slide" >
                <a 
                  class="image-wrapper" 
                  href="@img/boats/1.jpg"
                  data-fancybox="fleet_inner"
                >
                  <img  src="img/boats/1.jpg" alt="boat">
                </a>
                <!---->
              </div>
            </div>
            <!---->
            <!---->
            <!---->
            <div  class="pagination-wrapper">
              <div  class="pagination-inner">
                <div  class="pagination fleet-inner-pagination pagination-line swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                  <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                  <span class="swiper-pagination-bullet"></span>
                  <span class="swiper-pagination-bullet"></span>
                  <span class="swiper-pagination-bullet"></span>
                </div>
              </div>
            </div>
            <div class="navigation">
              <div class="btns-wrapper">
                <button class="swiper-button-disabled fleet-inner-swiper-prev" disabled="">
                  <img src="img/arrow-v1-left.svg" alt="arrow">
                </button>
                <button class="fleet-inner-swiper-next">
                  <img src="img/arrow-v1-right.svg" alt="arrow">
                </button>
              </div>
            </div>
            <div class="like">
              <button>
                <svg width="34" height="29" viewBox="0 0 34 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1 10.0864C1 5.05385 5.04669 1 9.96875 1C12.6406 1 14.9875 2.12377 16.9935 4.23943C18.9748 2.11999 21.3275 1 24.0312 1C28.9533 1 33 5.05385 33 10.0864C33 12.8219 32.2992 14.9082 30.5728 17.0892C28.9062 19.1948 26.2701 21.4019 22.4651 24.4407L22.462 24.4432L18.5651 27.5303C17.645 28.2591 16.355 28.2591 15.4349 27.5303L11.538 24.4432L11.5349 24.4407C7.72987 21.4019 5.09382 19.1948 3.42719 17.0892C1.70076 14.9082 1 12.8219 1 10.0864Z" fill="white" stroke="#BF8D55" stroke-linecap="round"></path>
                </svg>
              </button>
            </div>
            <div class="badges">
              <div class="badge">Хит</div>
              <div class="badge">Скидка</div>
            </div>
          </div>
	</div>
    <div class="fleet-inner-hero-tabs tabs-wrapper">
		<div class="tabs">
			<button class="tab active" data-tab="1">Описание</button>
            <button class="tab" data-tab="2">Удобства на борту</button>
            <button class="tab" data-tab="3">Услуги</button>
		</div>
		<div class="tabs-content">
			<div class="content tab-content" data-tab-content="1">
                <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
            </div>
            <div class="content tab-content" data-tab-content="2">
                <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
            </div>
            <div class="content tab-content" data-tab-content="3">
                <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
            </div>
		</div>
	</div>
    
    
    <div class="fleet-inner-hero-content">
		<h3>Veneto</h3>
		<h4>Прогулочный <br />катер-лимузин</h4>
		<div class="info">
			<p class="price">25 000 <span>₽ / час</span></p>
			<span class="guests">До 10 гостей</span>
			<ul>
				<li>
					<span>Причал</span>
					<p>Ждановская наб., 2А</p>
				</li>
				<li>
					<span>Маршрут</span>
					<p>Реки и каналы, Нева, Малая и большая Невка, Финский залив</p>
				</li>
			</ul>
			<button class="primary">Забронировать</button>
		</div>
		<div class="fleet-info">
			<div class="boat-roomtour">
				<img src="img/boat.svg" alt="" />
				<div class="roomtour-item">
					<span>3</span>
					<p>каюты</p>
				</div>
				<div class="roomtour-item">
					<span>6</span>
					<p>
						спальных <br />
						мест
					</p>
				</div>
			</div>
			<ul class="boat-info">
				<li>Флайбридж</li>
				<li>Теплые пледы</li>
				<li>Кухня с посудой, чаем, кофе</li>
				<li>Аудиосистема</li>
				<li>Флайбридж</li>
				<li>Теплые пледы</li>
				<li>Кухня с посудой, чаем, кофе</li>
				<li>Аудиосистема</li>
				<li>Флайбридж</li>
				<li>Теплые пледы</li>
				<li>Кухня с посудой, чаем, кофе</li>
				<li>Аудиосистема</li>
				<li>Флайбридж</li>
				<li>Теплые пледы</li>
				<li>Кухня с посудой, чаем, кофе</li>
				<li>Аудиосистема</li>
				<li>Флайбридж</li>
				<li>Теплые пледы</li>
				<li>Кухня с посудой, чаем, кофе</li>
				<li>Аудиосистема</li>
			</ul>
		</div>
	</div>
</div>