<div class="event-order-form order-form">
    <div class="order-form-inner container">
        <div class="text">
            <h3>Получить предложение</h3>
            <h4>
                Заполните форму, мы подберем для вас лучшее, <br />
                что только может быть
            </h4>
        </div>
        <form>
            <div class="inputs-top">
                <label>
                    <p>Тип мероприятия</p>
                    <div class="selector"><button type="button" class="selector-btn"><p>Выберите</p><span><svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.75L6 6.25L10.5 1.75" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></span></button><div class="selector-content"><div class="selector-list"><label><input type="checkbox"> <span>значение1</span></label> <label><input type="checkbox"> <span>значение2</span></label> <label><input type="checkbox"> <span>значение3</span></label> <label><input type="checkbox"> <span>значение4</span></label></div></div></div>
                </label>
                <label>
                    <p>Кол. человек</p>
                    <input
                        type="text"
                        placeholder="Кол-во чел."
                        class="input"
                    >
                </label>
                <label>
                    <p>Бюджет до (₽)</p>
                    <input
                        type="text"
                        placeholder="Бюджет"
                        class="input"
                    >
                </label>
                <label>
                    <p>Дата</p>
                    <input type="text" class="input date-input" placeholder="Дата">
                </label>
                <label>
                    <p>Телефон</p>
                    <input
                        type="text"
                        placeholder="Ваш номер"
                        class="input input__valid-phone"
                    >
                </label>
            </div>
            <div class="inputs-bottom">
                <label>
                    <p>Комментарий</p>
                    <input
                        type="text"
                        placeholder="Комментарий"
                        class="input"
                    >
                </label>

                <button class="primary">Отправить</button>
            </div>
        </form>
    </div>
</div>