<div class="fleet-inner-routes container tabs-wrapper">
    <h3 variant="h3">Доступные марштуры</h3>
    <div class="tabs" v-if="width >= 767">
        <button class="tab active" data-tab="1">Маршрут 1</button>
        <button class="tab" data-tab="2">Маршрут 2</button>
        <button class="tab" data-tab="3">Маршрут 3</button>
        <button class="tab" data-tab="4">Маршрут 4</button>
    </div>
    <div class="tabs-content" v-if="width >= 767">
        <div class="content tab-content" v-for="(route, index) in routes" :key="index" data-tab-content="1">
            <div class="route-item">
                <div class="image-wrapper">
                  <img data-v-13f7e563="" src="img/routes/route-about.jpg" alt="">
                </div>
                <div  class="text">
                  <h4 class="title-h4">Маршрут 1</h4>
                  <p >Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                  <button class="outline">
                    <a  href="/routes/route1" class="">Подробнее</a>
                  </button>
                </div>
              </div>
        </div>

        <div class="content tab-content" v-for="(route, index) in routes" :key="index" data-tab-content="2">
            <div class="route-item">
                <div class="image-wrapper">
                  <img data-v-13f7e563="" src="img/routes/route-about.jpg" alt="">
                </div>
                <div  class="text">
                  <h4 class="title-h4">Маршрут 2</h4>
                  <p >Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                  <button class="outline">
                    <a  href="/routes/route1" class="">Подробнее</a>
                  </button>
                </div>
              </div>
        </div>

        <div class="content tab-content" v-for="(route, index) in routes" :key="index" data-tab-content="3">
            <div class="route-item">
                <div class="image-wrapper">
                  <img data-v-13f7e563="" src="img/routes/route-about.jpg" alt="">
                </div>
                <div  class="text">
                  <h4 class="title-h4">Маршрут 3</h4>
                  <p >Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                  <button class="outline">
                    <a  href="/routes/route1" class="">Подробнее</a>
                  </button>
                </div>
              </div>
        </div>

        <div class="content tab-content" v-for="(route, index) in routes" :key="index" data-tab-content="4">
            <div class="route-item">
                <div class="image-wrapper">
                  <img data-v-13f7e563="" src="img/routes/route-about.jpg" alt="">
                </div>
                <div  class="text">
                  <h4 class="title-h4">Маршрут 4</h4>
                  <p >Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                  <button class="outline">
                    <a  href="/routes/route1" class="">Подробнее</a>
                  </button>
                </div>
              </div>
        </div>
    </div>


    <div class="swiper swiper-initialized swiper-horizontal fleet-inner-routes-swiper">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
          <div data-v-552c6287="" class="swiper-slide swiper-slide-active" style="width: 616.739px; margin-right: 25px;">
            <div data-v-13f7e563="" data-v-552c6287="" class="route-item">
              <div data-v-13f7e563="" class="image-wrapper">
                <img data-v-13f7e563="" src="/images/routes/route-about.jpg" alt="">
              </div>
              <div data-v-13f7e563="" class="text">
                <h4 data-v-13f7e563="" class="title-h4">Маршрут 1</h4>
                <p data-v-13f7e563="">Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                <button data-v-13f7e563="" class="outline">
                  <a data-v-13f7e563="" href="/routes/route1" class="">Подробнее</a>
                </button>
              </div>
            </div>
            <!---->
          </div>
          <div data-v-552c6287="" class="swiper-slide swiper-slide-next" style="width: 616.739px; margin-right: 25px;">
            <div data-v-13f7e563="" data-v-552c6287="" class="route-item">
              <div data-v-13f7e563="" class="image-wrapper">
                <img data-v-13f7e563="" src="/images/routes/route-about.jpg" alt="">
              </div>
              <div data-v-13f7e563="" class="text">
                <h4 data-v-13f7e563="" class="title-h4">Маршрут 2</h4>
                <p data-v-13f7e563="">Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                <button data-v-13f7e563="" class="outline">
                  <a data-v-13f7e563="" href="/routes/route1" class="">Подробнее</a>
                </button>
              </div>
            </div>
            <!---->
          </div>
          <div data-v-552c6287="" class="swiper-slide" style="width: 616.739px; margin-right: 25px;">
            <div data-v-13f7e563="" data-v-552c6287="" class="route-item">
              <div data-v-13f7e563="" class="image-wrapper">
                <img data-v-13f7e563="" src="/images/routes/route-about.jpg" alt="">
              </div>
              <div data-v-13f7e563="" class="text">
                <h4 data-v-13f7e563="" class="title-h4">Маршрут 3</h4>
                <p data-v-13f7e563="">Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                <button data-v-13f7e563="" class="outline">
                  <a data-v-13f7e563="" href="/routes/route1" class="">Подробнее</a>
                </button>
              </div>
            </div>
            <!---->
          </div>
          <div data-v-552c6287="" class="swiper-slide" style="width: 616.739px; margin-right: 25px;">
            <div data-v-13f7e563="" data-v-552c6287="" class="route-item">
              <div data-v-13f7e563="" class="image-wrapper">
                <img data-v-13f7e563="" src="/images/routes/route-about.jpg" alt="">
              </div>
              <div data-v-13f7e563="" class="text">
                <h4 data-v-13f7e563="" class="title-h4">Маршрут 4</h4>
                <p data-v-13f7e563="">Маршрут начинается у Патриаршего моста и ведет мимо Кремля, Парка Горького, до Москва-Сити и обратно. Во время круиза гости могут наслаждаться комфортом на борту и красивыми видами городской архитектуры.</p>
                <button data-v-13f7e563="" class="outline">
                  <a data-v-13f7e563="" href="/routes/route1" class="">Подробнее</a>
                </button>
              </div>
            </div>
            <!---->
          </div>
        </div>
        <!---->
        <!---->
        <!---->
      </div>
    <div ref="pagination" class="pagination swiper-pagination fleet-inner-routes-pagination"></div>
</div>