@import "../../common/files/variables.scss";

.events {
  margin-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  @media (max-width: $tab) {
    margin-top: 65px;
    padding-bottom: 45px;
    overflow: hidden;
  }
  .tabs-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    @media (max-width: $tab) {
      margin-top: 26px;
    }
    .tabs {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      display: flex;
      gap: 40px;
    }
  }

  .events-swiper-wrapper {
    position: relative;
    @media (max-width: $tab) {
      padding: 0 15px;
    }
    .events-swiper {
      margin-top: 57px;
      @media (max-width: $tab) {
        margin-top: 50px;
        overflow: visible;
      }
      & > .swiper-wrapper {
        & > .swiper-slide {
          opacity: 0.5 !important;
          .emoji-wrapper {
            opacity: 0 !important;
          }
        }
        & > .swiper-slide-active {
          opacity: 1 !important;
          .emoji-wrapper {
            opacity: 1 !important;
          }
        }
      }
      .swiper-slide.hidden {
        display: none;
      }
      .swiper-slide {
        transition: opacity var(--trs-300);
      }
    }
    .events-navigation {
      position: absolute;
      width: 100%;
      max-width: 58vw;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto 150px;
      justify-content: space-between;
      @media (max-width: $tab) {
        display: none;
      }
      button {
        width: 57px;
        height: 57px;
        border: 1px solid var(--black-color);
        background: var(--white-color);
        img {
          width: 20px;
        }
      }
    }
    .swiper-pagination {
      margin-top: 26px;
    }
  }
}
