<div class="routes-hero container">
    <h3 variant="h3">Маршруты</h3>
    <div  class="tabs">
        <button class="tab button">Длительность</button>
        <button class="tab active button">Вместимость</button>
        <button class="clear">
            <svg data-v-359f6e21="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.00049 6L18.7284 18.7279" stroke="#5c91a3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.00049 19L18.7284 6.27208" stroke="#5c91a3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
    </div>



    
    <div class="filters">
        <button type="button" class="filters-btn">
          <p>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.01904 7.5H19.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
              <path d="M5.01904 12.5H15.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
              <path d="M5.01904 17.5H11.019" stroke="#203C3F" stroke-width="2" stroke-linecap="round"></path>
            </svg>
            Фильтры
          </p>
          <img src="img/arrow-sort.svg" alt="">
        </button>
        <div class="filters-content">
          <div class="filters-tabs">
            <button class="tab button">Длительность</button>
            <button class="tab active button">Вместимость</button>
          </div>
        </div>
      </div>
</div>