<div class="route-hero container">
    <h3>Маршрут 1</h3>
    <div class="hero-content">
        <div class="image-block">
            <div class="image-wrapper">
                <img src="img/routes/route-about.jpg" alt="" />
            </div>
        </div>
        <div class="text-block">
            <ul>
                <li>
                    <span>2 часа 30 мин</span>
                    <p>Продолжительность</p>
                </li>
                <li>
                    <span>Маршрут</span>
                    <p>Фонтанка + Мойка + Зимняя канавка + Нева</p>
                </li>
                <li>
                    <span>Особенности</span>
                    <p>однопалубный теплоход со свободной рассадкой и отправлением каждые 30 минут</p>
                </li>
                
            </ul>
            <button class="primary open-order-form">Забронировать</Button>
        </div>

        <div class="fleet-inner-hero-tabs tabs-wrapper">
            <div class="tabs">
                <button class="tab active" data-tab="1">Описание</button>
                <button class="tab" data-tab="2">Мой тур</button>
                <button class="tab" data-tab="3">Атмосфера</button>
            </div>
            <div class="tabs-content">
                <div class="content tab-content" data-tab-content="1">
                    <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
                </div>
                <div class="content tab-content" data-tab-content="2">
                    <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
                </div>
                <div class="content tab-content" data-tab-content="3">
                    <p>Катер "Veneto" идеально подходит для различных водных мероприятий: от тихих речных прогулок до шумных тусовок. Это стильный выбор для отдыха небольшой компанией или романтического ужина. Вместимость катера – до 10 человек. Если вы заинтересованы в экскурсиях по каналам Невы и осмотрах достопримечательностей Санкт-Петербурга, аренда "Veneto" станет выгодным решением. На борту есть уютная зона с мягкими диванами и площадка для загара. В случае непогоды можно укрыться под тентом.</p>
                </div>
            </div>
    </div>
</div>
</div>